body{    
    margin: 0;
    gap: 10px;
    background-color: rgb(189, 186, 186);
    
}
.cards{
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 50px;
    display: flex;
}
.card{
    align-items: center;
    flex-direction: column;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    background-color: rgb(226, 226, 226);
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    color: black;
    width: 200px;
    height: 300px;
}
.imagem img{
    height: 200px;
}

.bar{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 100px;
}
.bartexto img{
    height: 100px;
}
